[submodule "deps/SDL2-2.0.22"]
	path = deps/SDL2-2.0.22
	url = https://github.com/libsdl-org/SDL.git

[submodule "deps/SDL2_ttf-2.20.0"]
	path = deps/SDL2_ttf-2.20.0
	url = https://github.com/libsdl-org/SDL_ttf.git

[submodule "deps/SDL2_mixer-2.6.1"]
	path = deps/SDL2_mixer-2.6.1
	url = https://github.com/libsdl-org/SDL_mixer.git

[submodule "deps/SDL2_image-2.6.0"]
	path = deps/SDL2_image-2.6.0
	url = https://github.com/libsdl-org/SDL_image.git